.contacts {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
      ". . . . ."
      ". . a . ."
      "b b c d d"
      ". . e . ."
      ". . f . ."
      ". . . . .";
    gap: 1em;
    .contact {
      text-transform: uppercase;
      place-self: center;
      &.item--title {
        grid-area: a;
        font-size: 1.5rem;
        letter-spacing: .20em;
      }
      &.item--twitter {
        grid-area: b;
      }
      &.item--github {
        grid-area: c;
      }
      &.item--linkedin {
        grid-area: d;
      }
      &.item--phone-number {
        grid-area: e;
      }
      &.item--email-address {
        grid-area: f;
      }
    }
  }
  
  .linkedin--size {
    height: 4em;
    width: 6em;
  }