.header {
  display: grid;
  padding: .2em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-transform: uppercase;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header__title"
    "header__name";
  .header__title {
    grid-area: header__title;
    place-self: center;
  }
  .header__name {
    grid-area: header__name;
    place-self: center;
  }
}