$duration: 1s;
$delay__header__boxshadow: 0s;
$delay__header__title: 1s;
$delay__header__name: 2s;

.header{
    margin-top: 2em;
    display: grid;
    gap: 1em;
    grid-template-columns: .5fr 9fr .5fr;
    grid-template-rows: 1fr 4fr 4fr 1fr;
    grid-template-areas: 
        ". . ."
        ". item__title ."
        ". item__name ."
        ". . ."; 
    animation: header__boxshadow $duration $delay__header__boxshadow ease-in-out forwards;
    
        .item {
            place-self: center;
            opacity: 0;
            text-transform: uppercase;
            font-size: 2rem;
            letter-spacing: .20em;
        &.row--0 {
            animation: myTitle $duration $delay__header__title ease-in-out forwards;
            &.item--title{
              grid-area: item__title;
            }
        }
        &.row--1 {
            animation: myName $duration $delay__header__name ease-in-out forwards;
            &.item--name{
              grid-area: item__name;
            }
        }
    }
  }

  @keyframes header__boxshadow {
    100% {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }
  }
  @keyframes myTitle {
    100% {
        opacity: 1;
    }
  }
  @keyframes myName {
    0% {
      transform: translateY(-120%);
    }
    100% {
      opacity: 1;
    }
  }