.home {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(14, 1fr);
    grid-template-areas: 
    ". .  .  .  .  .  .  .  .  .  .  .  .  ."
    ". aa aa aa aa aa aa aa aa aa aa aa aa ."
    ". ba ba ba ba ba ba ba ba ba ba ba ba ."
    ". ca ca ca ca ca ca ca ca ca ca ca ca ."
    ". da da da da da da da da da da da da ."
    ". ea ea ea ea ea ea ea ea ea ea ea ea ."
    ". fa fa fa fa fa fa fa fa fa fa fa fa ."
    ". ga ga ga ga ga ga ga ga ga ga ga ga ."
    ". .  .  .  .  .  .  .  .  .  .  .  .  .";

    .row {
        &.row--a {
            &.col {
                &.col--a {
                    grid-area: aa; // header
                }
            }
        }
        &.row--b {
            &.col {
                &.col--a {
                    grid-area: ba; // skills
                }
            }
        }
        &.row--c {
            &.col {
                &.col--a {
                    grid-area: ca; // project 1
                }
            }
        }
        &.row--d {
            &.col {
                &.col--a {
                    grid-area: da; // project 2
                }
            }
        }
        &.row--e {
            &.col {
                &.col--a {
                    grid-area: ea; // project 3
                }
            }
        }
        &.row--f {
            &.col {
                &.col--a {
                    grid-area: fa; // contact me
                }
            }
        }
        &.row--g {
            &.col {
                &.col--a {
                    grid-area: ga; // footer
                }
            }
        }
    }
  }