.skills {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(13, 1fr);
    grid-template-areas: 
        ". .  .  .  .  .  .  .  .  .  .  .  ."
        ". aa aa aa aa aa aa aa aa aa aa aa ."
        ". ba bb bc bd be bf bg bh bi bj bk ."
        ". .  .  .  .  .  .  .  .  .  .  .  .";

    .row {
        opacity: 0;
        &.row--a {
            animation: a 1s 3s ease-in-out forwards;
            &.col {
                place-self: center;
                text-transform: uppercase;
                font-size: 1.5rem;
                letter-spacing: .20em;
                &.col--a {grid-area: aa;}
            }
        }
        &.row--b {
            animation: b 1s 4s ease-in-out forwards;
            &.col {
                place-self: center;
                &.col--a {grid-area: ba;}
                &.col--b {grid-area: bb;}
                &.col--c {grid-area: bc;}
                &.col--d {grid-area: bd;}
                &.col--e {grid-area: be;}
                &.col--f {grid-area: bf;}
                &.col--g {grid-area: bg;}
                &.col--h {grid-area: bh;}
                &.col--i {grid-area: bi;}
                &.col--j {grid-area: bj;}
                &.col--k {grid-area: bk;}
            }
        }
    }
}
.svg--size{
    height: 4em;
    width: 4em;
}

@keyframes a {
    100% {opacity: 1;}
}
@keyframes b {
    0% {transform: translateY(-120%);}
    100% {opacity: 1;}
}
  
  // styling for python svg
  .st0{fill:#656565;}
  .st1{fill:url(#SVGID_1_);}
  .st2{fill:url(#SVGID_2_);}
  .st3{opacity:0.444;fill:url(#SVGID_3_);enable-background:new;}  