.web_portfolio__content {
    display: grid;
    gap: 1em;
    padding: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "web_portfolio__content__title    web_portfolio__content__title"
    "web_portfolio__content__details  web_portfolio__content__details"
    "web_portfolio__content__live     web_portfolio__content__repo";
    
    .web_portfolio__content__title {
        grid-area: web_portfolio__content__title;
        justify-self: center;
    }
    .web_portfolio__content__details {
        grid-area: web_portfolio__content__details;   
    }
    .web_portfolio__content__live {
        grid-area: web_portfolio__content__live;
    }
    .web_portfolio__content__repo {
        grid-area: web_portfolio__content__repo;
    }
}